$color-font: #333;
$color-background: #F7F6F3;
$color-background--hover1: darken($color-background, 7%);
$color-background--hover2: darken($color-background, 14%);
$color-border: #e2e1dd;
$color-icon: #99958A; 